@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.dark {
    --md-sys-color-primary: rgb(255 182 147);
    --md-sys-color-surface-tint: rgb(255 182 147);
    --md-sys-color-on-primary: rgb(84 33 3);
    --md-sys-color-primary-container: rgb(112 55 23);
    --md-sys-color-on-primary-container: rgb(255 219 203);
    --md-sys-color-secondary: rgb(230 190 172);
    --md-sys-color-on-secondary: rgb(67 42 30);
    --md-sys-color-secondary-container: rgb(92 64 51);
    --md-sys-color-on-secondary-container: rgb(255 219 203);
    --md-sys-color-tertiary: rgb(151 204 248);
    --md-sys-color-on-tertiary: rgb(0 52 79);
    --md-sys-color-tertiary-container: rgb(0 75 113);
    --md-sys-color-on-tertiary-container: rgb(203 230 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(26 18 14);
    --md-sys-color-on-background: rgb(240 223 216);
    --md-sys-color-surface: rgb(26 18 14);
    --md-sys-color-on-surface: rgb(240 223 216);
    --md-sys-color-surface-variant: rgb(82 68 61);
    --md-sys-color-on-surface-variant: rgb(215 194 185);
    --md-sys-color-outline: rgb(160 141 133);
    --md-sys-color-outline-variant: rgb(82 68 61);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(240 223 216);
    --md-sys-color-inverse-on-surface: rgb(56 46 42);
    --md-sys-color-inverse-primary: rgb(141 78 44);
    --md-sys-color-primary-fixed: rgb(255 219 203);
    --md-sys-color-on-primary-fixed: rgb(52 16 0);
    --md-sys-color-primary-fixed-dim: rgb(255 182 147);
    --md-sys-color-on-primary-fixed-variant: rgb(112 55 23);
    --md-sys-color-secondary-fixed: rgb(255 219 203);
    --md-sys-color-on-secondary-fixed: rgb(44 22 11);
    --md-sys-color-secondary-fixed-dim: rgb(230 190 172);
    --md-sys-color-on-secondary-fixed-variant: rgb(92 64 51);
    --md-sys-color-tertiary-fixed: rgb(203 230 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 30 48);
    --md-sys-color-tertiary-fixed-dim: rgb(151 204 248);
    --md-sys-color-on-tertiary-fixed-variant: rgb(0 75 113);
    --md-sys-color-surface-dim: rgb(26 18 14);
    --md-sys-color-surface-bright: rgb(66 55 50);
    --md-sys-color-surface-container-lowest: rgb(20 12 9);
    --md-sys-color-surface-container-low: rgb(34 26 22);
    --md-sys-color-surface-container: rgb(39 30 26);
    --md-sys-color-surface-container-high: rgb(50 40 36);
    --md-sys-color-surface-container-highest: rgb(61 51 46);
}  

.light {
    --md-sys-color-primary: rgb(141 78 44);
    --md-sys-color-surface-tint: rgb(141 78 44);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 219 203);
    --md-sys-color-on-primary-container: rgb(52 16 0);
    --md-sys-color-secondary: rgb(118 87 73);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 219 203);
    --md-sys-color-on-secondary-container: rgb(44 22 11);
    --md-sys-color-tertiary: rgb(41 99 138);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(203 230 255);
    --md-sys-color-on-tertiary-container: rgb(0 30 48);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(255 248 246);
    --md-sys-color-on-background: rgb(34 26 22);
    --md-sys-color-surface: rgb(255 248 246);
    --md-sys-color-on-surface: rgb(34 26 22);
    --md-sys-color-surface-variant: rgb(244 222 213);
    --md-sys-color-on-surface-variant: rgb(82 68 61);
    --md-sys-color-outline: rgb(133 115 108);
    --md-sys-color-outline-variant: rgb(215 194 185);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(56 46 42);
    --md-sys-color-inverse-on-surface: rgb(255 237 230);
    --md-sys-color-inverse-primary: rgb(255 182 147);
    --md-sys-color-primary-fixed: rgb(255 219 203);
    --md-sys-color-on-primary-fixed: rgb(52 16 0);
    --md-sys-color-primary-fixed-dim: rgb(255 182 147);
    --md-sys-color-on-primary-fixed-variant: rgb(112 55 23);
    --md-sys-color-secondary-fixed: rgb(255 219 203);
    --md-sys-color-on-secondary-fixed: rgb(44 22 11);
    --md-sys-color-secondary-fixed-dim: rgb(230 190 172);
    --md-sys-color-on-secondary-fixed-variant: rgb(92 64 51);
    --md-sys-color-tertiary-fixed: rgb(203 230 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 30 48);
    --md-sys-color-tertiary-fixed-dim: rgb(151 204 248);
    --md-sys-color-on-tertiary-fixed-variant: rgb(0 75 113);
    --md-sys-color-surface-dim: rgb(232 215 208);
    --md-sys-color-surface-bright: rgb(255 248 246);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 241 235);
    --md-sys-color-surface-container: rgb(252 234 227);
    --md-sys-color-surface-container-high: rgb(246 229 222);
    --md-sys-color-surface-container-highest: rgb(240 223 216);
}
